@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');



*{
    margin: 0;
    padding: 0;
}


.sidebar{
    background-color: rgb(144, 159, 165);
    width: 139px;
    font-family: 'Libre Bodoni', serif;
    height: auto;
}
.sidebar nav{
    padding: 45px;


}
.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: 22px 0;
    font-weight: bold;
}
.sidebar nav li a {
    text-decoration: none;
    color: black;

}
.main{
    /*background-color: yellow;*/
    width: 85vw;
}
.container{
    display: flex;
}
.infocontainer{
    /*background-color: orange;*/
    height: 40vh;
    width: 80vw;
    margin: 105px auto;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hello{
    font-size: 45px;
    font-family: 'Tapestry', cursive;
}
.name{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}
.about{
    font-size: 22px;
    font-family: 'Libre Bodoni', serif;
}
.moreabout{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-top: 23px ;
}
.buttons{
    margin-top: 30px;
}
.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: rgb(26, 24, 24);
    font-weight: bold;
    font-size: 15px;
    margin: 0 3px;
    cursor: pointer;
}
.btn-sm{
    font-size: 10px;
}
.btn:hover{
    background-color: white;
    color: rgb(26, 24, 24);

}

.devPic img{
    height: 60vh;
    
}

.contactform{
    font-family: 'Libre Bodoni', serif;
    padding: 0 44px;
    font-size: 20px;
}

.contactform h1{
    font-family: 'Tapestry', cursive;
    padding: 12px 0;
    font-weight: 300;
}
.contactform form div{
    padding: 14px 0;
    display: flex;
        flex-direction: column;
}
#emailHelp{
    font-size: 13px;
    color: midnightblue;
    margin: 0 5px;

}
.contactform form div input{
    width: 24vw;
        border-radius: 5px;
        margin: 6px 0 0 0;
        padding: 3px;
}
#form-check{
    flex-direction: row;
}
#form-check input{
    width: 20px;
    margin: 5px 0;
}
.introcontainer{
    text-align: justify;
    padding-top: 10px;
    padding-left: 25px;
}
.skillscontainer{
    padding-left: 40px;
    padding-top: 20px;
}
.projectscontainer{
    padding-left: 40px;
}
.list-group-item h4{
    color: darkblue;
}
